body{
    background-color: white;
    padding-top: 80px;
}
h1{
    text-align: center;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
     background-color: #ffffff; 
    z-index: 1;
}
#main{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 5%;
    margin-inline-start: 50px;
}
.content{
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #888888;
    height: 300px;
    width: 250px;
    text-align: center;
}
.content:hover{
    transform: scale(1.02);
    z-index: 2;

}